@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}
body{
  overflow: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cart-item-count {
  position: absolute;
  top: -10px; /* Adjust this value to position the notification correctly */
  right: -10px; /* Adjust this value to position the notification correctly */
  background-color: red; /* Choose the background color you prefer */
  color: white;
  border-radius: 50%;
  width: 20px; /* Set the width to your desired size */
  height: 20px; /* Set the height to your desired size */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px; /* Adjust the font size as needed */
  font-weight: bold;
}
